<div class="jumbotron">
  <h2><%= gettext "This page is a placeholder for %{page}", page: "Users" %></h2>
  <a href="<%= page_path(@conn, :index) %>">Home</a>
  <p class="lead"></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Actions</h4>
    <ul>
      <li>
        <a href="<%= user_path(@conn, :new) %>">New</a> (Routes back to here for now)
      </li>
    </ul>
  </div>
</div>
